.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(66%, rgba(3, 29, 98, 0.514723)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(3, 29, 98, 0.514723) 66%);
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  margin-top: 1.5rem;
}

.header__logo img {
  width: 8.8121rem;
  height: 1.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #242d52;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  color: #242d52;
  padding: 0.625rem;
  text-align: center;
}

.header__links a {
  font-size: 0.875rem;
  color: #242d52;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 20px;
}

.header__links a:hover {
  color: #9095a7;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #9095a7;
  line-height: 1.3;
}

@media (min-width: 64em) {
  body {
    font-size: 1rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-top: 2.25rem;
  padding-left: 1.5rem;
  padding-bottom: 2.25rem;
  padding-right: 1.5rem;
}

.container--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--px {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline;
  padding: 1rem;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  background-color: #f25f3a;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
}

button:hover,
.button:hover {
  background-color: #9095a7;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  background-image: url("/images/illustration-intro.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 19.5rem;
  margin-top: 50px;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 19.5rem;
    background-position: center 10%;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 35rem;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero__text h1 {
  font-size: 2.31rem;
  line-height: 1;
  color: #242d52;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3.25rem;
  }
}

.hero__text p {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 120px;
  }
}

@media (min-width: 64em) {
  .feature {
    padding-left: 80px;
  }
}

.feature__texts {
  text-align: center;
}

@media (min-width: 64em) {
  .feature__texts {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .feature__texts h2 {
    text-align: left;
    font-size: 2.31rem;
    line-height: 3rem;
    color: #242d52;
    margin-bottom: 1.5rem;
  }
}

.feature__texts p {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.feature__item {
  margin-bottom: 35px;
}

.feature__title {
  font-size: 1.1rem;
  line-height: 3rem;
  color: #242d52;
  margin-bottom: -3px;
}

.feature__description {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  margin-left: 50px;
}

@media (min-width: 64em) {
  .testi__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.testi__item {
  padding: 0.9275rem;
}

@media (min-width: 64em) {
  .testi__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.testi__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  height: 6.5rem;
}

.testi__name {
  font-size: 1.2rem;
  color: #242d52;
  margin-bottom: 1rem;
  text-align: center;
}

.testi__description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.9rem;
  color: #242d52;
  margin-bottom: 1.5rem;
  text-align: center;
}

.subfooters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f25f3a;
}

.subfooter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subfooter__text {
  font-size: 2.31rem;
  color: white;
  text-align: left;
}

.footer {
  background-color: #1d1e25;
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] 2fr;
        grid-template-columns: repeat(3, 1fr) 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo links1 links2 input" "social links1 links2 copyright";
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

.footer__social {
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a:not(:last-child) {
  display: inline-block;
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.25;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

.footer__links.col2 {
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

@media (min-width: 64em) {
  .footer__input {
    grid-area: input;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__input a.button {
  display: inline-block;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */